# name: Run Tests

# on:
#   push:
#     branches: [ master ]
#   pull_request:
#     branches: [master ]

# jobs:
#   test:
#     runs-on: ubuntu-latest
    
#     steps:
#     - uses: actions/checkout@v4
    
#     - name: Setup Node.js
#       uses: actions/setup-node@v4
#       with:
#         node-version: '18'


    name: CI Demo

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run a script
        run: echo "Hello from GitHub Actions!"

    - name: Install dependencies
      run: npm install
    
    - name: Run tests
      run: npm test
